.personalData {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 30vw;
  height: 35vh;
  padding: 65px 20px;
  text-align: center;
  border-radius: 12px;
  background-color: #242b29;
}

img {
  width: 250px;
  margin: 20px;
  border-radius: 15px;
}
